#sidebar {
    width:300px;
    min-height: calc(100% - 100px);
    background: #7386D5;
    color: #fff;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    white-space: nowrap;
    padding: 15px;
}
.sidebar {
    &__link {
        font-size: 18px;
        color: #fff;
    }
}
#sidebar.collapsed {
    // transform: translateX(-300px);
    width: 0;
    opacity: 0;
}

@include media-breakpoint-down(md) {
    #sidebar {
        position: absolute;
        z-index: 11;
        transform: translateY(-100%);
        overflow: auto;
        max-height: 100vh;
        padding: 15px;
    }
    #sidebar.collapsed {
        transform: translateY(0);
        width: 300px;
        
        opacity: 1;
    }
}