doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Webpack app
    link(rel='stylesheet', href='dist/css/main.css')
  body
    header.header
        nav
            button#sidebarCollapse.btn
                i.fa.fa-bars
            a(class='nav__logo' href='/') Company Logo
            h4 dropdown
    section#main
        section#sidebar
            h4 sidebar
        section#content
            h4 content

        
    script(src='dist/js/app.js')