ul.sidebar-list
    li.list-item 
        a(class='sidebar__link' id='first' href='#') Link for display
    li.list-item
        a(class='sidebar__link') Link for display
    li.list-item
        a(class='sidebar__link') Vary vary Long Link for display